@import url('http://mmwebfonts.comquas.com/fonts/?font=myanmar3');

html, body {
    position: fixed;
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 10px;
    font-size: 10pt;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 1.5em;
}

canvas {
    margin: 0;
    padding: 0;
}